.card-menu {
  align-items: center;
  justify-content: center;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
  min-width: 110px;
  min-height: 150px;
}

.input-form {
  max-width: 100vw;
}

.card-title {
  font-family: "Rubik Normal";
  text-align: center;
  color: #8f1619;
  text-overflow: ellipsis;
  overflow: hidden;
}

.background {
  background-color: #ebebeb;
  border-radius: 45px;
  height: 90px;
  width: 90px;
  justify-content: center;
  align-items: center;
}
