.card-menu {
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
  min-width: 2vw;
  max-width: 22vw;
  min-height: 1vh;
  padding: 3rem !important;
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  margin-left: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  /* max-height: 25vh; */
}

.round {
  min-height: 0.2vh;
  max-height: 10vh;
  min-width: 2.2vw;
  max-width: 10vw;
}

.rounds {
  min-height: 40%;
  max-height: 41%;
  min-width: 50%;
  max-width: 51%;
}

.input-form {
  max-width: 100vw;
}

.menu {
  position: relative;
}
.card-title {
  font-family: "Rubik Normal";
  text-align: center;
  color: #8f1619;
  text-overflow: ellipsis;
  overflow: hidden;
}

.background {
  background-color: #ebebeb;
  border-radius: 50%;
  /* width: 100%; */
  /* height: 100%; */
  justify-content: center;
  align-items: center;
}
.backgrounds {
  background-color: #ebebeb;
  border-radius: 50%;
  padding: 18% 18%;
  /* width: 100%; */
  /* height: 100%; */
  justify-content: center;
  align-items: center;
}

.container-custom {
  width: 100%;
  background-color: #fff;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-custom {
    max-width: 476px;
  }
}
@media (min-width: 768px) {
  .container-custom {
    max-width: 668px;
  }
}
@media (min-width: 992px) {
  .container-custom {
    max-width: 992px;
  }
}
@media (min-width: 1200px) {
  .container-custom {
    max-width: 1100px;
  }
}
