.title-review {
  text-align: left;
  font-family: "Rubik Normal";
}
.register-text {
  text-align: center;
  font-family: "Rubik Normal";
  padding-top: 5px;
}
.register-text-button {
  text-align: center;
  font-family: "Rubik Normal";
  color: #aeaeae;
  padding-top: 5px;
}
.title-header {
  text-align: center;
  font-family: "Rubik Normal";
  padding-top: 10px;
  padding-bottom: 10px;
}
