.content-bg {
  flex: 1;
  align-items: center;
  align-content: center;
  background-color: #dc3232;
  justify-content: center;
}

.hero {
  border-radius: 8px;
  margin: 0px auto;
  text-align: center;
  position: relative;
  display: block;
  width: 98vw;
  height: 0vh;
  max-width: 1100px;
  padding-top: 1.33%;
  padding-bottom: 2.33%;
  padding-left: 2.33%;
  padding-right: 2.33%;
  background-color: transparent;
}

.banner-custom {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  border-bottom-left-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
}

.img-custom {
  height: 100%;
  border-radius: 8px;
  border-style: none;
  width: 100%;
  background-color: #dc3232;
  object-fit: cover;
}
