.card-item {
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
  height: 100px;
  max-height: 110px;
}

.card-icon {
  border-top-left-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
  width: 100px;
  height: 100px;
}
.tab-custom {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  width: 50%;
  cursor: pointer;
}
.tab-custom-selected {
  background: rgb(143 22 25);
  border-color: rgb(143 22 25);
  color: #f8f9fa;
  border-radius: 5px 5px 0 0;
}
.card-info {
  max-width: 85%;
}

.form-custom {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  margin: 5px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
