.bg-primary {
  background-color: #8f1619;
}
.nav-form {
  width: 20vw;
  align-items: flex-start;
}
.tooltips {
  min-height: 40px;
  background-color: #f3f3f3;
  padding-left: 18px;
  padding-right: 18px;
}
.info-login {
  padding-top: 5px;
}
.title {
  margin-top: 2px;
  font-family: "Rubik";
  color: #ffffff;
}
.navbar-custom {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}
.custom-width {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 192px) {
  .custom-width {
    margin-left: 0.2vh;
    margin-right: 0.2vh;
  }
}
@media (min-width: 576px) {
  .custom-width {
    margin-left: 8vh;
    margin-right: 8vh;
  }
}
@media (min-width: 768px) {
  .custom-width {
    margin-left: 8vh;
    margin-right: 8vh;
  }
}
@media (min-width: 992px) {
  .custom-width {
    margin-left: 5vh;
    margin-right: 5vh;
  }
}
@media (min-width: 1200px) {
  .custom-width {
    margin-left: 13vh;
    margin-right: 13vh;
  }
}
